*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: lightslategrey;
}

.meta{
    width: 100%;
    max-width: 60ch;
    min-height: 400px;
    padding: 8rem;
    margin: 0 auto;
    text-align: center;
    display: grid;
    place-items: center;
}

section{
    width: 100%;
    min-height: 500px;
    padding: 2rem;
    display: grid;
    place-items: center;
}
section:nth-child(2n){
    background-color: rgb(245, 245, 245);
}

.container{
    width: 100%;
    max-width: 200px;
    height: 250px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 5fr 1fr 2fr;
}
.container__col{
    display: grid;
    place-items: center;
    background-color: lightblue;
}

.container-2{
    min-width: 300px;
    margin: 0 auto;
    padding: 20px 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 150px 2rem;
    grid-template-areas: 
    "header header" 
    "content content-2" 
    "footer footer";
    gap: 1rem;
}
.container-2__header{grid-area: header; background-color: lightcoral; display: grid; place-items: center;}
.container-2__content{grid-area: content; background-color: lightcoral; display: grid; place-items: center;}
.container-2__content-2{grid-area: content-2; background-color: lightcoral; display: grid; place-items: center;}
.container-2__footer{grid-area: footer; background-color: lightcoral; display: grid; place-items: center;}


.titulo{
    width: 100%;
    padding: 20px;
    text-align: center;
}
.main{
    width: 100%;
    max-width: 1000px;
    height: 350px;
    display: grid;
    place-items: center;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
.child-1{
    width: 100%;
    height: 100%;
    background-color: lightsalmon;
    display: grid;
    place-items: center;
}

.child-2{
    width: 100%;
    height: 100%;
    background-color: lightskyblue;
    display: grid;
    place-items: center;
}
.box-texto{
    text-align: center;
}